body{
	background-color: cyan;
	font-family: 'Hammersmith One', sans-serif;	
}
.con{
	width: 300px;
	height: 500px;
	background-color: #90EE90;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 20px;
}
h1{
	position: absolute;
	left: 50%;
	top: -54px;
	width:300px;
	transform: translateX(-50%);
	background-color: #ADD8E6;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	font-size: 18px;
	text-align: center;
	padding: 10px;
}
.wrap{
	padding: 20px;
}
input, select{
	width: 80%;
	border: none;	
	border-bottom: 1px solid blue;
	padding: 10px;
	border-radius: 5px;
}
input:focus{
	border:1px solid blue;
	outline: none;	
}

button{
	margin: 20px auto;
	width: 150px;
	height: 45px;
	background-color: pink;
	border : none;
	border-radius: 10px;
	text-align: center;
}
.button{
	text-align: center;  
}
.tip{
	text-align: center;
	font-size: 15px;
	display: none;
}